<div class="container">
    <div>
        <h1>Applying Elevation</h1>
        <p>The Material Design specification gives guidance on expressing elevation on UI elements by adding shadows. Angular Material provides CSS classes and Sass mixins for adding these shadows.</p>
        <h2>Elevation CSS classes </h2>
        <p>The core-theme Sass mixin, described in the theming guide, emits CSS classes for applying elevation. These classes follow the pattern mat-elevation-z#, where # is the elevation number you want, from 0 to 24. These predefined classes use the CSS box-shadow settings defined by the Material Design specification.You can dynamically change elevation on an element by swapping elevation CSS classes.</p>
        <h2>Elevation Sass mixins </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem iste hic eaque optio natus assumenda vel id totam. Nesciunt aperiam repudiandae deserunt earum quibusdam nisi dolores officiis dolore voluptate eos.</p>


    </div>
</div>
